body {

    
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

nav li {

    margin: 20px;
    background-color: rgb(5, 5, 46);
    padding: 20px;

}

nav {

    background-color: rgb(5, 5, 46);
    height: 400px;


}

.navcontainer {
    display: flex;
    flex-direction: column;
    
    
}

nav li a {

    color: white;
    text-decoration: none;
    font: 19px;

}

h1 {

    font-size: 40px;
    text-align: center;
    color: white;
    /* margin-top: 20px; */
    /* font-style: italic; */
    /* margin-bottom: 20px; */
    background-image: url("../images/stars2.png");
    background-color: #f1f1f1;
    padding: 60px;
    font-family: 'Space Grotesk', sans-serif;
    

}

main {

    margin-left: 20px;
    margin-right: 20px;

}

img {
    position: relative;
    border: 3px solid lightgray;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin: 20px;
    

  }

img:hover {

    border: 5px dashed rgb(5, 5, 46);
    transition: 0.5s ease-in-out;


    }


.active {

    border: lightgrey solid 4px;
    font-weight: bolder;
    font-size: larger;
    color: cornsilk;
    text-decoration: underline;
    

}

.item {
    align-self: center;
}

.skip {

    font-size: 20px;
}

footer {

  
    background-color: rgb(5, 5, 46);
    padding-bottom: 20px;
    color: white;    
    
}

footer a {
    color: white;
}

footer i {
    display: inline-block;
    margin-left: 200px;
    padding-top: 10px;
}


footer p {

    padding-top: 10px;
    text-align: center;
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
}

.container div {
    grid-column: 1 / 2;
    text-align: center;
    background-color: cornflowerblue;

}

form {

    margin-left: 75px;
    margin-bottom: 75px;
    margin-top: 75px;

}


  
  @keyframes slidein {
    from {
      margin-left: 100%;
    
    }
  
    to {
      margin-left: 50px;
      
    }
  }

  .animate {
    margin-left: 50px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .animatetwo {
    margin-left: 50px;
  }

  .btn {
      margin-bottom: 10px;
      margin-left: 150px;
  }

  #clicked-feedback {

    margin-left:50px;
  }

  @media (prefers-reduced-motion) {
    .animate {

        animation: none;

    }
  }
  
  







